<div class="content-wrapper">
<div class="col-sm-12">
    <h2>Statistical of Store</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Titles</th>
                <th>Rating Down</th>
                <th>Rating Up</th>
            </tr>
        </thead>
        <tbody>
            @foreach (
            var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.RatingDown</td>
                    <td>@item.RatingUp</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <canvas id="myChart1"></canvas>
    </div>
    <div>
        <canvas id="myChart2"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div>
        <script>
            const labels = [@Html.Raw(ViewData["labels"])];
            const data1 = {
                labels: labels,
                datasets: [{
                    label: 'Idea',
                    backgroundColor: 'rgb(0,0,255)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [@ViewData["ratingup"]],
                },
                {
                    label: 'Idea',
                    backgroundColor: 'rgb(255, 0, 0)',
                    borderColor: 'rgb(255, 0, 0)',
                    data: [@ViewData["ratingdown"]],
                }]
            };

            const config1 = {
                type: 'bar',
                data: data1,
                options: {}
            };

            const myChart1 = new Chart(
                document.getElementById('myChart1'),
                config1
            );

            function loadImage() {
                var myImage = myChart2.toBase64Image();
                document.getElementById("chartImg").scr = myImage;
            }
        </script>
    </div>

</div>
</div>